# For syntax see https://docs.github.com/en/enterprise-server@3.1/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
*   @ChrisRomp